html {
      box-sizing: border-box;
      height: 100vh;
}

*, 
*:before,
 *:after {
            box-sizing: inherit;
            margin: 0;
            padding: 0;
}

@media screen and (min-width: 768px ) {

    body {
            font-family: "Poppins";
            padding: 0px 0px 0px 0px;
            width: 100%;
            height: 100%;

    }

    #container-menu {
                     display: none;
    }

    #navbar {  
                display: flex;
                justify-content: space-between;  
                width: 100%;   
                height: 7.860262%;
                padding: 0;
        }

    #container-logo {
                        width: 100px;
                        height: 40px;
                        margin: 16px  0 0 143px;
                        padding: 10px 12px 10px 12px;
                        align-items: center;
                        text-align: center;
    }
    
    #myLogo {
                font-style: normal;
                font-size: 18px;
                line-height: 20px;
                font-weight: 700;
                color:#6070FF ;

    }

    #myLogo:hover {
                    color:#6070FF;
    }

    #container-ul-nav {
                        width: 258px;
                        height: 40px;
                        flex-direction: row;
                        margin: 16px 143px 0 0 ;
  
    }
    
    #container-ul-nav ul {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            padding: 0;
                            margin: 0;
    }

    .button-nav {
                    text-decoration: none;
                    display: inline-block;
                    text-align: center;
                    font-style: normal;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    color: #344563;
                    padding: 10px 12px 10px 12px;
    }



    .button-nav:hover {
                        background-color: #6070FF;
                        color: white;
    }

  
    #headline {
                background-image: url(img/bg-dktop/Header\ bg.png);
                background-repeat: no-repeat;
                width: 100%; 
                height: 92.358%; 
                display: flex;
    }
    #container-text-icons {
                            width: 100%;
                            height: 100%;
    }



    #text-presentation {
                            width: 63.8888889%;
                            height: 31.67849%;
                            margin-left:18.05555556% ;
                            margin-top: 16.9214%;
    }

    #text-presentation h1 {
                            width: 100%;
                            height: 45.5222388%;
                            margin: 0%;
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 60px;
                            color: #091E42;
                            letter-spacing: 0.37px;
    }

    #text-presentation p {
                            width: 100%;
                            height: 36.567164%;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 28px;
                            color: #344563;
                            margin-top: 12px;
    }

    #text-presentation h4 {
                            width: 127px ;
                            height: 2.62%;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            font-style: normal;
                            color: #7F8CFF;
                            margin-top: 12px     
    }
    #container-icons {
                        width:170.17px ;
                        margin-left:18.05555556% ;
                        margin-top: 1.5284%;
    }

    #twitter {
                width: 19.99px;
                margin-right: 15px;
    }
    #link {
            width: 20px;
            margin-right: 15px;
    }
    #github {
                width:17.99px;
                margin-right: 15px;
    }
    #m {
        width: 20px;
        margin-right: 15px;
    }
    #paz{
        width:14.17px;
    }

} 


@media screen and (min-width: 375px) and (max-width: 768px){

    body {
            font-family: "Poppins";
            padding: 0;
    }

    #navbar {  
                display: flex;
                justify-content: space-between;  
                width: 100%;   
                height: 48px;
                padding: 0;
    }

    #container-logo {
                        width: 100px;
                        height: 40px;
                        margin: 4px  0 0 12px;
                        padding: 10px 12px 10px 12px;
                        align-items: center;
                        text-align: center;
    }
    
    #myLogo {
                font-style: normal;
                font-size: 18px;
                line-height: 20px;
                font-weight: 700;
                color:#6070FF ;

    }

    #navbar ul {
                    display: none;
    }

    #navbar li {
                    flex-basis: 100%;
    }

    #myLogo:hover {
                    color: violet;
    }

    #container-menu {
                        width: 40px;
                        height: 40px;
                        color:#ACB7C3 ;
                        margin: 4px 24px 0 0;
                        padding: 8px;
    }

    #menu {
            width: 24px;
            height: 24px;
    }
    
    /*1440 * 846*/
    #headline {
                background-image: url(img/Microverse-Student-Project-1/header-shapes\ mobile.png);
                background-size:auto;
                width: 100%;
                height: 92.63803681%;
                display: flex;
    }
    #container-text-icons {
                            width: 100%;
                            height: 100%;
    }

    #text-presentation {
                            width: 100%;
                            height: 100%;
    }



    #text-presentation h1 {
                            width: 87.2%;
                            height: 23.006135%;
                            margin: 0%;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 52px;
                            color: #091E42;
                            letter-spacing: 0.37px;
                            margin-left: 24px;
                            margin-top:114px ;
    }

    #text-presentation p {
                            width: 87.2%;
                            height: 22.39264%;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #344563;
                            margin-left: 24px;
                            margin-top:12px ;
    }

    #text-presentation h4 {
                            width: 119px ;
                            height: 3.68098%;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            font-style: normal;
                            color: #7F8CFF;
                            margin-left: 24px;
                            margin-top: 12px;
        
    }
    #container-icons {
                        width:170.17;
                        height: 20px;
                        margin-top: 12px;
                        margin-left: 24px;
    } 

    #twitter {
                width: 19.99px;
                margin-right: 15px;
    }
    #link {
            width: 20px;
            margin-right: 15px;
    }
    #github {
                width:17.99px;
                margin-right: 15px;
    }
    #m {
        width: 20px;
        margin-right: 15px;
    }
    #paz {
            width:14.17px;
    }


}